<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styleMain.css" />
    <link rel="stylesheet" href="/static/global.css" />
    <title>Loja</title>
  </head>
  <body>
    <nav>
      <h1>minha loja</h1>
      <ul>
        <li><a href="#inicio">inicio</a></li>
        <li><a href="#promoção">promoção</a></li>
        <li><a href="#produtos">produtos</a></li>
      </ul>
    </nav>
    <section class="promoção" id="promoção">
      <h2>promoção especial</h2>
      <p>Desconto de 50% em todos os produtos!</p>
      <button>ver ofertas</button>
    </section>
    <h3>produtos em destaque</h3>
    <section class="produtos" id="produtos">
      <div class="produto">
        <img src="/static/assets/D_NQ_NP_2X_817529-MLU69958991589_062023-F.webp" alt="trena" />
        <p>Trena aco (l) 5m x 19mm vonder plus</p>
        <p class="preco">99,99</p>
        <button id="produto1" class="butao_compra">
          <a href="produto_venda/1">comprar</a>
        </button>
      </div>
      <div class="produto">
        <img src="/static/assets/44aa8a1386e9b18eb82dbb86a0cd165c.webp" alt="" />
        <p>Chave de Fenda Philips Ponta Dupla - Lith</p>
        <p class="preco">26,99</p>
        <button id="produto2" class="butao_compra">
          <a href="produto_venda/2">comprar</a>
        </button>
      </div>
      <div class="produto">
        <img
          src="/static/assets/939d756f6ac7bb545f5869db7b3be8c6.webp"
          alt="Alicate Universal 8 Polegadas Cabo Emborrachado Profissional - ELITE SUPERFLEX"
        />
        <p>Alicate Universal 8 Polegadas - ELITE SUPERFLEX</p>
        <p class="preco">28,99</p>
        <button id="produto3" class="butao_compra">
          <a href="produto_venda/3">comprar</a>
        </button>
      </div>
    </section>
    <footer>
      <p>&copy; Loja de Ferramentas - Todos os direitos reservados</p>
    </footer>
    <script src="/static/app.js"></script>
  </body>
</html>
