<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/global.css" />
    <link rel="stylesheet" href="/static/styleMain.css" />
    <link rel="stylesheet" href="/static/styleProdutos.css" />
    <title>produto</title>
  </head>
  <body>
    <nav>
      <h1>minha loja</h1>
      <ul>
        <li><a href="#inicio">inicio</a></li>
        <li><a href="#prateleira">promoção</a></li>
        <li><a href="#prateleira">produtos</a></li>
      </ul>
    </nav>
    <div id="main_compras">
      <main id="colunas_venda">
        <div id="coluna_img" class="coluna"></div>
        <div id="coluna_compra" class="coluna"></div>
      </main>
      <h2 id="item_s">Itens semelhantes</h2>
      <aside id="prateleira">
        <div id="coluna_prateleira"></div>
      </aside>
    </div>
    <script src="/static/app.js"></script>
  </body>
</html>
